* {
    box-sizing: border-box;
}

html {
    font-size: 1.1vw;
}

.page {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
    width: 100vw;
}

.header {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 2rem;
}

.header__date-box {
    display: flex;
    flex-basis: 60%;
    color: #666;
}

.header__nav-panel {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
}

.header__link {
    margin-left: 1rem;
    text-decoration: none;
    color: #666;
}

.header__link:hover {
    text-decoration: underline;
}

.main {
    width: 80%;
    margin: 0 auto 8rem;
}

.big-photo-list {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.big-photo-list__item-wrapper {
    position: relative;
    flex-basis: 49.8%;
}

.big-photo-list__image {
    width: 100%;
    height: 100%;
}

.big-photo-list__item-text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
}

.big-photo-list__item-title {
    margin: 0 0 1rem;
    font-weight: 400;
    font-size: 3rem;
}

.small-photo-list {
    display: flex;
    margin-top: 5px;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.small-photo-list__item-wrapper {
    position: relative;
    width: 24.7%;
}

.small-photo-list__image {
    width: 100%;
}

.small-photo-list__item-text-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
}

.small-photo-list__item-title {
    margin: 0 0 .5rem;
    font-weight: 400;
    font-size: 2.1rem;
}

.title-1 {
    text-align: center;
    color: #333;
    font-size: 5rem;
    margin: 0;
    font-weight: 400;
}

.title-2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 0;
}

.link-bar {
    display: flex;
    background-color: #333;
    border-radius: 5px;
    margin-top: 1.5rem;
    padding: 1rem 0;
}

.link-bar__link {
    color: white;
    font-size: .8rem;
    text-decoration: none;
    margin: 0 1rem;
}

.link-bar__link:hover {
    text-decoration: underline;
}

.paragraph {
    margin-bottom: 0;
}

.content-box {
    display: flex;
    justify-content: space-between;
}

.left-side-block {
    border: 1px solid #999;
    padding: 1rem;
}

.left-side-block_type_events {
    flex-basis: 67%;
    display: flex;
    flex-direction: column;
}

.events__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.events__item {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.events__item-image-wrapper {
    position: relative;
    font-size: 0;
}

.events__item-image {
    width: 100%;
    height: auto;
}

.events__item-category {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    padding: 5px;
    width: 8rem;
    font-size: .8rem;
    text-align: center;
}

.events__item-category_number_1 {
    background-color: #39c;
}

.events__item-category_number_2 {
    background-color: #6c9;
}

.events__item-category_number_3 {
    background-color: #c6c;
}

.events__item-category_number_4 {
    background-color: #c96;
}

.events__item-title {
    margin-top: .5rem;
    color: #050505;
}

.events__item-date {
    padding: .5rem 0;
    color: #999;
    font-size: .7rem;
}

.button {
    color: white;
    background-color: #6c6;
    border: none;
    border-radius: .4rem;
    font-size: 1rem;
}

.button_type_show-more {
    display: block;
    margin: 7rem auto 2rem;
    padding: 1.5rem;
}

.button:hover {
    box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .3s;
}

.button:focus {
    outline: 1px solid orange;
}

.button:active {
    outline: none;
    box-shadow: inset 9px 8px 10px 0 rgba(0, 0, 0, .5);
}

.side-block-wrapper {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.right-side-block {
    border: 1px solid #999;
    padding: 1rem;
}

.right-side-block_type_social {
    display: flex;
    height: 29%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 15%;
}

.title-wrapper {
    width: fit-content;
}

.title-3 {
    position: relative;
    border-bottom: .2rem solid black;
    border-radius: 1px;
    font-weight: 400;
    margin: 0;
    height: 2rem;
    text-transform: uppercase;
    width: fit-content;
}

.title-3::after {
    display: block;
    position: absolute;
    top: 1.9rem;
    content: '';
    width: 19.5rem;
    border-bottom: 1px solid #999;
    z-index: -1;
}

.icons-wrapper {
    display: flex;
    justify-content: space-around;
}

.icon-box {
    text-align: center;
}

.icon-box__icon {
    width: 3rem;
    max-width: 45px;
}

.icon-box__link {
    display: block;
    margin-top: 1rem;
    color: #666;
    text-decoration: none;
}

.icon-box__link:hover {
    color: #999;
    text-decoration: underline;
}

.right-side-block_type_users {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.avatars {
    margin-top: 3rem;
}

.avatar-box {
    display: flex;
    align-items: center;
}

.avatar-box__image-wrapper {
    position: relative;
    visibility: hidden;
    width: 6rem;
    height: 6rem;
}

.avatar-box__image {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 5rem;
    visibility: visible;
}

.avatar-box__profession {
    color: #999;
    font-size: .8rem;
}

.video {
    background-color: #f4f4f4;
    margin: 2rem 0;
    padding: 1rem;
}

.title-3_type_video {
    border-bottom: 1px solid black;
}

.video__item-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.video__image {
    width: 24%;
    height: auto;
}

.left-side-block_type_news {
    flex-basis: 67%;
    padding-bottom: 3rem;
}

.right-side-block_type_form {
    flex-basis: 30%;
}

.news__item {
    height: 6rem;
    padding: .5rem 0;
    border-bottom: 1px solid #999;
    display: flex;
}

.news__item-text {
    padding: .5rem 0 .5rem .5rem;
}

.news__item-title {
    text-transform: uppercase;
}

.news__item-description-text {
    color: #999;
    font-size: .75rem;
}

.news__item-description-date {
    padding: .5rem 0;
    color: #999;
    font-size: .7rem;
}

.right-side-block__text {
    display: inline-block;
    color: #6a6a6a;
}

.right-side-block__text_row_1 {
    margin-top: 2rem;
}

.form__text {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 1rem;
}

.form__text::placeholder {
    color: #9d9d9d;
}

.form__text:focus {
    outline: 1px solid orange;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.button_type_submit {
    padding: 1rem 2rem;
    margin-top: 1rem;
}

.footer {
    text-align: center;
    background-color: #333;
    padding: 4rem 0;
}

.footer__info {
    font-size: .8rem;
    color: #ccc;
}

@media (max-width: 768px) {
    html {
        font-size: 1.6vw;
    }

    .header {
        width: 95%;
    }

    .main {
        width: 95%;
    }

    .avatar-box__image-wrapper {
        width: 5rem;
        height: 5rem;
    }

    .avatar-box__image {
        width: 4rem;
    }

    .title-3::after {
        width: 15.5rem;
    }
}

@media (max-width: 414px) {
    html {
        font-size: 3vw;
    }

    .header {
        width: 90%;
        font-size: .7rem;
        padding-bottom: 2rem;
    }

    .main {
        width: 100%;
        margin-bottom: 4rem;
    }

    .link-bar {
        display: block;
        overflow-x: scroll;
        border-radius: 0;
    }

    .link-bar__link-wrapper {
        margin-left: 8px;
        width: max-content;
    }

    .article {
        width: 90%;
        margin: auto;
    }

    .big-photo-list {
        display: block;
        width: 90%;
        margin: 2rem auto 0;
    }

    .small-photo-list {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }
    
    .small-photo-list__item-wrapper {
        width: 49.5%;
    }

    .small-photo-list__image {
        margin-bottom: 3px;
    }

    .content-box {
        margin: 2rem 0 0;
        flex-direction: column;
    }

    .events__container {
        flex-direction: column;
    }

    .events__item {
        width: 100%;
        margin-bottom: 2rem;
    }

    .events__item-image {
        aspect-ratio: 3/1;
    }

    .button_type_show-more {
        margin: 0;
        width: 16rem;
    }

    .left-side-block{
        border: none;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
    }

    .side-block-wrapper {
        flex-direction: column-reverse;
    }

    .right-side-block_type_social, .right-side-block_type_users {
        margin-top: 2rem;
        border: none;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
    }

    .avatar-box__image-wrapper {
        width: 7rem;
        height: 7rem;
    }

    .avatar-box__image {
        max-width: none;
        width: 6rem;
    }

    .avatar-box__name {
        font-size: 1.2rem;
    }

    .avatar-box__profession {
        font-size: 1rem;
    }

    .icons-wrapper {
        margin-top: 4rem;
    }

    .icon-box__icon {
        max-width: none;
        width: 5rem;
    }

    .left-side-block_type_news {
        display: none;
    }

    .video {
        margin-top: 0;
        padding-right: 0;
    }
    
    .video__item-container {
        overflow-x: scroll;
    }

    .video__image {
        width: 200px;
        margin-right: 5px;
    }

    .right-side-block_type_form {
        width: 75%;
        margin: auto;
    }

    .title-3::after {
        width: 22.5rem;
    }
}
